#	$OpenBSD: sshd_config,v 1.93 2014/01/10 05:59:19 djm Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/local/bin:/usr/bin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

# If you want to change the port on a SELinux system, you have to tell
# SELinux about this change.
# semanage port -a -t ssh_port_t -p tcp #PORTNUMBER
#
#Port 22
#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::

Port {{ sshd_port }}
AddressFamily {{ sshd_address_family }}
{% for address in sshd_listen_addresses: %}
ListenAddress {{ address }}
{% endfor %}

# The default requires explicit activation of protocol 1
#Protocol 2

# HostKey for protocol version 1
##HostKey /etc/ssh/ssh_host_key
# HostKeys for protocol version 2
#HostKey /etc/ssh/ssh_host_rsa_key
##HostKey /etc/ssh/ssh_host_dsa_key
#HostKey /etc/ssh/ssh_host_ecdsa_key
#HostKey /etc/ssh/ssh_host_ed25519_key

Protocol {{ sshd_protocol }}
{% for key in sshd_host_keys %}
HostKey {{ sshd_path }}/ssh_host_{{ key }}_key
{% endfor %}

# Lifetime and size of ephemeral version 1 server key
#KeyRegenerationInterval 1h
#ServerKeyBits 1024

# Ciphers and keying
#RekeyLimit default none

# Logging
# obsoletes QuietMode and FascistLogging
#SyslogFacility AUTH
#SyslogFacility AUTHPRIV
#LogLevel INFO

SyslogFacility {{ sshd_syslog_facility }}
LogLevel {{ sshd_log_level }}

# Authentication:

#LoginGraceTime 2m
#PermitRootLogin yes
#StrictModes yes
#MaxAuthTries 6
#MaxSessions 10

LoginGraceTime {{ sshd_login_grace_time }}
PermitRootLogin {{ sshd_permit_root_login }}
StrictModes {{ sshd_strict_modes }}
MaxAuthTries {{ sshd_max_auth_tries }} 
MaxSessions {{ sshd_max_sessions }}

#RSAAuthentication yes
#PubkeyAuthentication yes

PubkeyAuthentication {{ sshd_pubkey_authentication }}

# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
# but this is overridden so installations will only check .ssh/authorized_keys
#AuthorizedKeysFile	.ssh/authorized_keys

#AuthorizedPrincipalsFile none

#AuthorizedKeysCommand none
#AuthorizedKeysCommandUser nobody

AuthorizedKeysFile {{ sshd_authorized_keys_file }}
AuthorizedKeysCommand {{ sshd_authorized_keys_command }}
AuthorizedKeysCommandUser {{ sshd_authorized_keys_command_user }}

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
#RhostsRSAAuthentication no
# similar for protocol version 2
#HostbasedAuthentication no
# Change to yes if you don't trust ~/.ssh/known_hosts for
# RhostsRSAAuthentication and HostbasedAuthentication
#IgnoreUserKnownHosts no
# Don't read the user's ~/.rhosts and ~/.shosts files
#IgnoreRhosts yes

# To disable tunneled clear text passwords, change to no here!
#PasswordAuthentication yes
#PermitEmptyPasswords no
#PasswordAuthentication yes

PasswordAuthentication {{ sshd_password_authentication }}
PermitEmptyPasswords {{ sshd_permit_empty_passwords }}

# Change to no to disable s/key passwords
#ChallengeResponseAuthentication yes
ChallengeResponseAuthentication no

# Kerberos options
#KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no
#KerberosUseKuserok yes

{% if sshd_kerberos is defined and sshd_kerberos %}
KerberosAuthentication {{ sshd_kerberos_authentication }}
KerberosOrLocalPasswd {{ sshd_kerberos_or_local_passwd }}
KerberosTicketCleanup {{ sshd_kerberos_ticket_cleanup }}
KerberosGetAFSToken {{ sshd_kerberos_get_afs_token }}
{% endif %}

# GSSAPI options
GSSAPIAuthentication yes
GSSAPICleanupCredentials no
#GSSAPIStrictAcceptorCheck yes
#GSSAPIKeyExchange no
#GSSAPIEnablek5users no

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
# WARNING: 'UsePAM no' is not supported in Red Hat Enterprise Linux and may cause several
# problems.
UsePAM yes

UsePAM {{ sshd_use_pam }}

#AllowAgentForwarding yes
#AllowTcpForwarding yes
#GatewayPorts no
X11Forwarding yes
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes
#PrintMotd yes
#PrintLastLog yes
#TCPKeepAlive yes
#UseLogin no
UsePrivilegeSeparation sandbox		# Default for new installations.
#PermitUserEnvironment no
#Compression delayed
#ClientAliveInterval 0
#ClientAliveCountMax 3
#ShowPatchLevel no
#UseDNS yes
#PidFile /var/run/sshd.pid
#MaxStartups 10:30:100
#PermitTunnel no
#ChrootDirectory none
#VersionAddendum none

AllowAgentForwarding {{ sshd_allow_agent_forwarding }}
AllowTcpForwarding {{ sshd_allow_tcp_forwarding }}
GatewayPorts {{ sshd_gateway_ports }}
X11Forwarding {{ sshd_x11_forwarding }}
X11DisplayOffset {{ sshd_x11_display_offset }}
X11UseLocalhost {{ sshd_x11_use_localhost }}
PermitTTY {{ sshd_permit_tty }}
PrintMotd {{ sshd_print_motd }}
PrintLastLog {{ sshd_print_last_log }}
TCPKeepAlive {{ sshd_tcp_keep_alive }}
UseLogin {{ sshd_use_login }}
UsePrivilegeSeparation {{ sshd_use_privilege_separation }}
PermitUserEnvironment {{ sshd_permit_user_environment }}
Compression {{ sshd_compression }}
ClientAliveInterval {{ sshd_client_alive_interval }}
ClientAliveCountMax {{ sshd_client_alive_count_max }}
UseDNS {{ sshd_use_dns }}
PidFile {{ sshd_pid_file }}
MaxStartups {{ sshd_max_startups }}
PermitTunnel {{ sshd_permit_tunnel }}
ChrootDirectory {{ sshd_chroot_directory }}
VersionAddendum {{ sshd_version_addendum }}

# no default banner path
#Banner none

Banner {{ sshd_banner }}

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

{% if sshd_sftp_server is defined and sshd_sftp_server %}
# override default of no subsystems
Subsystem	sftp	{{ sshd_sftp_server_path }}
{% endif %}

# Example of overriding settings on a per-user basis
#Match User anoncvs
#	X11Forwarding no
#	AllowTcpForwarding no
#	PermitTTY no
#	ForceCommand cvs server

{# CentOS 7.1 does not support the following options

HPNDisabled {{ sshd_hpn_disabled }}
HPNBufferSize {{ sshd_hpn_buffer_size }}
TcpRcvBufPoll {{ sshd_hpn_tcp_rcv_buf_poll }}

NoneEnabled {{ sshd_none_enabled }}

#}

{% if sshd_deny_users|length %}
DenyUsers {{ sshd_deny_users|join(' ') }}
{% endif %}
{% if sshd_allow_users|length %}
AllowUsers {{ sshd_allow_users|join(' ') }}
{% endif %}
{% if sshd_deny_groups|length %}
DenyGroups {{ sshd_deny_groups|join(' ') }}
{% endif %}
{% if sshd_allow_groups|length %}
AllowGroups {{ sshd_allow_groups|join(' ') }}
{% endif %}

{% if not sshd_default_security %}
{% if sshd_kex_algorithms %}
KexAlgorithms {{ sshd_kex_algorithms }}
{% endif %}
{% if sshd_kex_algorithms %}
Ciphers {{ sshd_ciphers }}
{% endif %}
{% if sshd_kex_algorithms %}
MACs {{ sshd_macs }}
{% endif %}
{% endif %}

{% if sshd_matches|length %}
{% for match in sshd_matches %}
Match {{ match.criteria }}
{% for rule in match.rules %}
   {{ rule }}
{% endfor %}
{% endfor %}
{% endif %}
